hr {
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}


.rodape__coluna{
    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape{
        background-color: var(--fundo-cinza);
        display: flex;
        justify-content: space-around;
    }

.rodape__titulo{
    font-size: 1.5em;
}
.rodape__coluna{
    display: block;


}
.rodape__coluna_cabecalho{
    font-size: 0.875em;
    color: var(--fonte-footer);
    margin: 1.5em;
    text-transform: uppercase;
    
}

.rodape__coluna_item{
    display: flex;
    align-items: center;
    margin: 1em 2.5em;
    font-size: 0.875em;
}


.rodape__coluna_link {
    text-decoration: none;
    color: var(--fonte-footer-link);
    padding: 0 1em;


}

}

@media screen and (min-width: 1728px) {
    .rodape{
        padding: 3em;
    }
    .rodape__coluna{
        border-left: 1px solid var(--fonte-footer);

    }

}