@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img-mobile_first/Menu.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo{
    font-family: var(--fonte-primaria);
    font-size: 1em;
    font-weight: 700;
    color: var(--cor-primaria);
    
}

.lista-menu__item{
    font-family: var(--fonte-primaria);
    font-size: 1em;
    font-weight: 400;
    padding: 1em;
    
}

.lista-menu__link{
    background: var(--azul-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: uppercase;

}